*{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    height: 10px !important;
    width: 150px !important;
}

.fonts{
    font-weight: 600;
}

.font{
    font-weight: 200;
    font-size: large;
    word-spacing: 2.5px;
    line-height: 27px;
}

.chocolate-text{
    color: hsl(25, 84%, 50%) !important;
}

.chocolate{
    background-color: hsl(25, 84%, 50%) !important;
}

.margin{
    margin: 0px !important;
}

.padding{
    padding: 10px 1px 10px 1px;
}

.shadow:hover{
    box-shadow: 3px 3px 6px hsl(0, 5%, 35%);
}

.word{
    margin-right: 20em;
}

.pads{
    padding: 1em 1em 1em 1em;
}

.padd{
    height: 60px !important;
}

.padds{
    margin: 1px 10px 1px 10px!important;
}